.icon-text {
  color: #fff;
  font-family: AktivGrotesk_Light;
  font-size: 30px;
  font-weight: 400;
}
.icon-number {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 800;
}
