.masterHeader-Heading1 {
  color: #424c4e;
  font-family: "FONTSPRING_DEMO_Juana_Alt_Medium ";
  font-size: 18px;
  font-weight: 500;
}
.tagline {
  color: #424c4e;
  font-family: "FONTSPRING_DEMO_Juana_Alt_Medium ";
  font-size: 35px;
  font-weight: 500;
}
.description {
  color: #000;
  font-family: "AktivGrotesk_Light";
  font-size: 20px;
}
.imgOnImg {
  position: absolute;
  height: 311px;
  width: 311px;
  border-radius: 50%;
  left: 31%;
  box-shadow: 25px 0px 100px -25px #434d4f;
}
.sphere {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #c3bcb6;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 55px;
  font-weight: 700;
}
.smallImageBox {
  height: 70px;
  width: 70px;
  border: 2px solid #444e50;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
